<%- include('partials/_header.ejs') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation.ejs') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Edit Post</h1>

          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST" action="/forEdit/<%= post._id %>?_method=PUT" class="tm-contact-form">
            <div class="form-group">
              <input type="text" name="name"  value="<%= post.name %>" class="form-control rounded-0"  required />
            </div>
            
          
            <div class="form-group">
              <textarea rows="8" name="context" class="form-control rounded-0" placeholder="THERE IS A MISTAKE!"
                        required><%= post.context %></textarea>
            </div>


            <div class="form-group mb-0">
              <button type="submit" class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Update</span></button>
            </div>
          </form>  
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') -%>

  <!-- Contact Form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>


</body>

</html>
