<%- include('partials/_header.ejs') -%>

<body>

  <!-- Navigation -->
  <%- include('partials/_navigation.ejs') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.context %></h1>
            <h2 class="subheading">Lorem ipsum dolor sit.</h2>
            <span class="meta">Posted by
              <a href="#"><%= post.name %></a>
              on <%= post.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p><%= post.context %></p>

          <blockquote class="blockquote"><%= post.context %></blockquote>

          <p>Placeholder text by
            <a href="#"><%= post.name %></a>. on
            <a href="#"><%= post.dateCreated %></a>.</p>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->
  <%- include('partials/_footer.ejs') -%>

</body>

</html>
